
.headline {
  font-family: Helvetica;
  font-size: 50px;
  line-height: 55px;
  color: black;
  font-weight: bold;
  text-align: left;
  padding-top: 40px;
  padding-bottom: 20px;
}

.byline {
  font-family: Helvetica;
  font-size: 30px;
  color: black;
  font-weight: bold;
  text-align: left;
  padding-top: 30px;
  padding-left: 0;
  padding-bottom: 20px;
}

.title {
  font-family: Helvetica;
  font-size: 20px;
  color: black;
  padding-left: 0;
  padding-bottom: 10px;
  text-align: left;
}

.date {
  font-family: Helvetica;
  font-size: 20px;
  color: black;
  padding-bottom: 20px;
}

.header-caption {
  font-family: Helvetica;
  font-size: 16px;
  color: #ffa64d;
  text-align: left;
  padding: 10px;
  padding-left: 0;
}

.graphics {
  max-width: 100%;
  padding: 20px;
}

/*p:first-letter {
  font-size: 50px;
  color: orange; */

.round {
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  border: solid 6px #ffa64d;
}

.logo {
  display: block;
  align: center;
  max-width: 800px;
  padding-bottom: 20px;
  padding-top: 40px;
}

.subhead .chapter {
  font-family: Helvetica serif;
  font-size: 30px;
  line-height: 40px;
  color: black;
  font-weight: bold;
  text-align: left;
  padding-top: 25px;
  padding-left: 0;
  padding-bottom: 25px;
}

p {
font-family: Helvetica;
font-size: 16px;
text-align: left;
color: black;
padding-left: 0px;
padding: round 5px;
}

img {
  display: block;
  align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.photo {
  display: block;
  align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.column {
  font-family: Helvetica;
  font-size: 16px;
  text-align: center;
}

.caption {
  font-family: Helvetica;
  font-size: 16px;
  color: #ffa64d;
  text-align: center;
  padding-left: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.spacer {
  padding: 20px;
}

.footer {
  background-color: #ffa64d;
  padding: 30px;
  text-align: center;
  color: white;
  font-family: Helvetica;
  font-size: 25px;
  text-shadow: 2px 2px black;
}

.pull {
  font-family: Helvetica serif;
  font-size: 30px;
  line-height: 40px;
  color: #ffa64d;
  font-weight: bold;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 25px;
}

.bi-twitter {
  color: blue;
  width: 100px;
  height: 50px;
  background-color: #99ccff;
}
